
body,
html{
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	font-size: 18px;
}

main{
	width: 100%;
}

ul,h2,h3,h4,p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1{
	font-size: 2.05rem;
}

h2{
	font-size: 1.66rem;
}

.header{
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 3;
}

.footer{
	width: 100%;
	height: 18vh;
	color: #3f444d;
}

.top-nav{
	display: flex;
	list-style-type: none;
	flex-direction:row;
	justify-content: flex-start;
	height: 70px;
	align-items: center;
}

.footer__contact{
	display: flex;
	list-style-type: none;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	padding-top: 105px;
}

.footer-box{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.footer__year{
	margin-top: 18px;
}

.contact__phone{
	margin-left: 35px;
}

.link{
	color: #000000;
}

.top-nav__point{
	margin-right: 33px;
		
}

.point__link{
	font-size: 1.11rem;
}

.point__link_name{
	font-size: 1rem;
}

.top-nav__point_name{
	margin-right: auto;
	margin-left: 33px;
}

.main{
	display: flex;
	justify-content: center;
}

.main-block{
	width: 1170px;
}

.main-block-width{
	width: 1832px;

}

.main-block__one-screen{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title{
	color: #3f444d;
}

.title-major{
	line-height: 64px;
	font-weight: 300;
	color: #3f444d;
}

.title-major__main_block{
	width: 700px;
	font-weight: bold;
}

.main-block__one-screen_alignment{
	height: 100vh;
	margin-bottom: 70px;
}

.title-major_letter{
	font-size: 21.66rem;
	padding-bottom: 30px;
	font-weight: bold;
	margin-right: 40px;
	background: linear-gradient( 360deg, rgb(122,185,238) 0%, rgb(92,39,254) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
}

.link__description-work{
	width: 567px;
	height: 388px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.link__description-work:hover{
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.41);
	cursor: pointer;
	border-radius: 12px;
}

.description-work__title-notebook{
	margin-top: 31px;
	margin-bottom: 23px;
	border-radius: 60px;
}

.title-notebook{
	color: #ffffff;
	font-weight: 300;
	width: 374px;
	height: 40px;
	text-align: center;
}

.description-work__laptop{
	margin-bottom: 23px;
	height: 70%;
}

.one-screen__title-major{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
}

.navigation-help{
	color: #aaaaaa;
}

.navigation-help__main_block{
	margin-top: 41vh;
	position: absolute;
}

.main-block__work{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.main-block__work_alignment-image{
	justify-content: center;
}

.work__presentation{
	width: 100%;
}

.work__link{
	margin-bottom: 15px;
}

.work__link-indent{
	margin-bottom: 25px;
	margin-right: 18px;
}

.link__description-work_anmtn{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-work__laptop-gif-shadow{
    position:relative;
    top:0px;
    z-index:1;
}

.description-work__laptop-gif{
    position:absolute;
    z-index:1;
	bottom:0px;
}

.article-blocks__img{
	width: 30px;
	height: 30px;
}

.article__discription{
	display: flex;
	flex-direction: row;
	width: 960px;
	flex-wrap: wrap;
}

.skills__main-about{
	margin-top: 104px;
	padding-bottom: 24px;
	text-align: center;
}

.main-block__skills{
	margin-top: 80px;
}

.main-block__article{
	margin-top: 104px;
	
}

.skills__main-title,
.article-title{
	padding-bottom: 12px;
}

.subtitle{
font-weight: 600;
color: #3f444d;
}

.article__subtitle{
	margin-top: 38px;
	margin-bottom: 30px;
}

.contact{
	font-weight: 600;
}

.text{
	line-height: 40px;
	color: #3f444d;
}

.article__text{
	margin-top: 26px;
}

.article__block{

	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.article-blocks__text{
	margin-left: 12px;
}

.article-blocks__list-tags{
	margin-top: 0px;
}

.list-tag__tag{
	margin-right: 20px;
}

.list-tag__tag{
	margin-top: 100px;
}

.mt-3{
	margin-top: 23px;
}





/* страницы с работами */


.main-block__page-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15vh;
}

.page-heading__title-major{
	height: 10vh;
}

.title-major_bold-size{
	font-weight: 600;
	font-size: 2.53rem;
}

.description-work__pfoto-social{
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.link__description-work_insta{
	max-width: 280px;
	height: 100%;
	margin-right: 10px;
}

.link__description-work_vk{
	width: 380px;
	height: 100%;
	margin-right: 10px;
}

.link__description-work_you{
	width: 575px;
	height: 100%;
	margin-right: 10px;
}


.link__description-work_google{
	width: 280px;
	height: 100%;
	margin-right: 10px;
}

.link__description-work_google-gorizontal{
	width: 570px;
	height: 100%;
	margin-right: 10px;
}

/* страница контент соцсетей */


.heading-social{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 62px;
}

.heading-social__icon{
	width: 30px;
}

.heading-social__title{
	margin-left: 13px;
	font-weight: 300;
}


.link__description-work_dsgn{
	background-image:linear-gradient( 360deg, rgb(122,185,238,0.75) 0%, rgb(92,39,254,0.75) 100%);
}

.link__description-work_html{
	background-image:linear-gradient( 360deg, rgb(122,185,238,0.75) 0%, rgb(92,39,254,0.75) 100%);
}
 
.link__description-work_anmtn{
	
	background-image:linear-gradient( 0deg, rgb(193,101,221,0.75) 0%, rgb(92,39,254,0.75) 100%);
}

.link__description-work_news{
	background-image:linear-gradient( 0deg, rgb(193,101,221,0.75) 0%, rgb(92,39,254,0.75) 100%);
}

@media (max-width: 1170px){
	.main-block__work{
		justify-content: center;
	}
}