@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

html{
	font-family: 'Lato', 'Arial', sans-serif;
	box-sizing:border-box;
}

body{
	margin: 0;
	padding: 0;
	font-size: 10px;
}

ul{
	margin: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
}

ul{
	padding-inline-start: 0px;
}

h1,
h2,
h3,
p{
	margin: 0em;
    margin: 0em;
    font-weight: normal;
}

.container{
	width: 100%;
}

.container_top-img{
	background-image: url(../images/foto.jpg);
	background-position: center;
	height: 719px;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.container_bottom-img{
	background-image: url(../images/fire.png);
	background-position: top;
	background-repeat: no-repeat;
	width: 1903px;
	height: 622px;
	z-index: -1;
}

.header{
	width: 100%;
	background-image: url(../images/menublack.png);
	background-position: center;
	height: 63px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.container-content{
	width: 1040px;
}

.logo{
	width: 42px;
	height: 33px;
}

.container-content_flex{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.container-content_header-aligment{
	margin-right: 91px;
	margin-bottom: 5px;
}

.flex-dir-c { flex-direction: column; }

.mar-top-95 { margin-top: 95px; }

.mar-top-9 { margin-top: 9px; }

.top-nav{
	margin-left: auto;
}

.top-nav__element-list{
	display: inline;
	margin-left: 63px;
	font-size: 2em;
	font-weight: medium;
}

.top-nav__link{
	color: #ffffff;
}

.top-nav__link_active{
	color: #0de819;
}

.top-nav__link:hover{
	color: #0fff1d;
}

.top-nav__link:active{
	color: #0de819;
}

.main{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-title{
	font-size: 5.2em;
	color: #f8f8f8;
	margin-top: 294px;
	line-height: 1.404;
}

.site-subtitle{
	font-size: 2em;
	color: #f8f8f8;
	margin-top: 6px;
}

.infographics{
	width: 1104px;
	margin-top: 392px;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.infographics__title{
	font-size: 3.2em;
	margin-bottom: 16px;
}

.infographics__subtitle{
	font-size: 2em;
	line-height: 1.65;
	margin-bottom: 57px;
}

.infographics__image{
	margin-bottom: 24px;
}

.infographic__element{
	background-color: #ffffff;
	width: 328px;
}

.infographics__row_mar-top{
	margin-top: 57px;
}

.section{
	text-align: center;
	margin-top: 58px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;	
}

.gallery__picture{
	width: 292px;
	height: 214px;
	margin-bottom: 33px;
	position: relative;	
}

.gallery__picture_w455-h304{
	width: 455px;
	height: 304px;
}

.section__gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1903px;
}

.link-hover,
.link-hover_color-dark{
	width: 292px;
	height: 214px;
	background-color: rgba(147,187,150,0.35);
	position: absolute;
	z-index: 3;
	display: none;
}

.link-hover_color-dark{
	background-color: rgba(60,78,62,0.52);
}

.link-hover_w455-h304{
	width: 455px;
	height: 304px;
}

.gallery__link:hover .link-hover,
.gallery__link:hover .link-hover_color-dark{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	
.section__title{
	font-size: 3.2em;
	margin-bottom: 21px;
}

.section__subtitle{
	font-size: 2em;
	margin-bottom: 	95px;
}

.link-hover__icon{
	margin-bottom: 32px;
}

.subtitle-photo{
	font-size: 2em;
	color: #606060;
	line-height: 1.65;
}

.gallery__subtitle-photo{
	margin-top: 17px;
}

.link-hover__title{
	font-size: 2.4em;
	color: #ffffff;
	margin-bottom: 19px;
}

.link-hover__subtitle{
	font-size: 2em;
	color: #ffffff;
	font-weight: normal;
}

.section-guide{
	background-color: #f0f0f0;
	margin-top: -33px;
	padding-top: 124px;
}

 .section__title_color-gray,
 .section__subtitle_color-gray{
 	color: #606060;
 }

.section-fire__title{
	color: #f8f8f8;
	margin-top: 128px;
}

.section-fire__subtitle{
	color: #f8f8f8;
}

 .button{
 	background-color: #1fbc2c;
 	font-size: 2em;
 	width: 199px;
 	height: 45px;
 	color: #f8f8f8;
 	outline: 0;
 	border: none;
 	cursor: pointer;
 }

 .gallery__button{
 	margin-top: 56px;
 	margin-bottom: 132px;
 }

 .button:hover{
 	background-color: #22ce30;
 }

  .button:active{
 	background-color: #1cac28;
 }

 .section-fire{
 	margin-top: 0px;
 }

 .infographics-fire-subtitle{
 	font-size: 2em;
 	color: #f8f8f8;
 	line-height: 1.7em;
 }

 .section-fire__infographics-fire-subtitle{
 	margin-top: 20px;
 }

.infographics-fire-conteiner{
	width: 100%;
	display: flex;
	justify-content: center;
}

.infographics-fire{
	display: flex;
	width: 1091px;
	justify-content: space-between;
}

.infographics-fire-element{
	width: 219px;
	text-align: center;
}

.footer{
	width: 1903px;
	height: 132px;
	background-color: #333333;
	border-top: 2px solid #3a3a3a;
	display: flex;
	justify-content: center;
}

.infographics-fire-img{
	margin-bottom: 5px;
}

.footer-container{
	width: 1140px;
	height: 132px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text__arrow-left{
	transform: scale(-1, 1);
}

.footer-social,
.footer-text,
.footer-phone{
	display: flex;
	align-items: center;
	color: #f8f8f8;
	font-size: 2em;
}

.footer-text__description{
	text-align: center;
	line-height: 2.6em;
	margin-top: 15px;
}

.footer-text__description{
	margin-left: 104px;
	margin-right: 104px;
}

.footer-phone__number{
	margin-left: 14px;
}

.footer-social__icon{
	padding-right: 33px;
}
